@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body{
  background-color: #ebebeb;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
/* vermelho = #8C0F26*/
/* amarelo = #F2B90C*/
/* bege = #F2E3B3*/
/* marrom = #402721*/
/* preto = #0D0D0D*/